body {
    margin: auto;
    text-align: justify;
}

.container {
    float: left;
    padding: 4px;
}
.baricon {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#content {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



.topbar {
    height: 50px;
    border-bottom: 1px solid rgb(0,66,124);
    overflow: hidden;
    box-shadow: 2px 2px 12px #00427C;
    /*position: fixed;*/
    width: 100%;
    z-index: 1;
    padding: 0px;
    text-align: center;
    font-size: 2em;

}
.topbar img {
    height: 49px;
    float: right;
    padding: 1px;
}

#nav1 {
    z-index: 1;
}

.fixed {
	position:fixed;
	top:0;
	width: 100%;
    z-index: 1;
}

.info_perso_etu {
    border: 1px solid;
    padding: 10px;
}